# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
proxy-go
proxy-go-*

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
web/node_modules/
web/dist/
data/config.json
kaifa.md
.cursor
data/cache/config.json
data/mirror_cache/config.json
data/metrics/latency_distribution.json
data/metrics/metrics.json
data/metrics/path_stats.json
data/metrics/referer_stats.json
data/metrics/status_codes.json
data/config.example.json
data/config.json
.env
