services:
  proxy:
    image: ghcr.io/woodchen-ink/proxy-go:latest
    container_name: proxy-go
    ports:
      - "3336:3336"
    volumes:
      - ./data:/app/data
      - ./web/public:/app/web/public  # favicon 和静态资源
    environment:
      - TZ=Asia/Shanghai
      # Favicon 配置 (可选)
      # 设置后将从该 URL 代理 favicon.ico，无需映射本地文件
      # 例如: - FAVICON_URL=https://example.com/favicon.ico
      # - FAVICON_URL=
      - OAUTH_CLIENT_ID=your_client_id
      - OAUTH_CLIENT_SECRET=your_client_secret
      #填写公网访问的地址, 需要跟CZL Connect保持一致. 
      #选填, 不填为自动获取
      - OAUTH_REDIRECT_URI=https://localhost:3336/admin/api/oauth/callback 
      # S3端点
      - SYNC_S3_ENDPOINT=https://tw-001.s3.synologyc2.net
      # 存储桶名称 (必需)
      - SYNC_S3_BUCKET=c2
      # AWS地区 (必需)
      - SYNC_S3_REGION=tw-001
      # 访问密钥ID (必需)
      - SYNC_S3_ACCESS_KEY_ID=tw4Hxxxxxxxxx
      # 访问密钥 (必需)
      - SYNC_S3_SECRET_ACCESS_KEY=VMxxxxxxxxxxx
      # 是否使用Path Style URL (可选，默认false)
      - SYNC_S3_USE_PATH_STYLE=false
      # 配置文件在S3中的保存路径 (可选)
      - SYNC_CONFIG_PATH=data/proxy-go
    restart: always